*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: #fff;
    font-family: sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100vw;
    background-color: #000;
}
.main_part-1{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main_part-1 h1{
    font-size: 8.5vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 8.5vw;
}
.main_part-1 h1 span svg{
    width: 6.3vw;
    background-color: rgb(13,163,78);
    border-radius: 50%;
}
.main_part-1 p{
    width: 36vw;
    text-align: center;
    margin-top: 4vw;
    font-size: 1.2rem;
    font-weight: 500;
}
.main_h4{ 
    display: flex;
    align-items: center;
}
.main_h4 h4{
    padding: 10px 14px;
    border-radius: 20vw;
    margin: .3vw;
    border: 1px solid #fff;
}