*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: #fff;
    font-family: sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100vw;
    background-color: #111111;
}
.main_part-1{
    width: 100vw;
    height: 100vh;
    background-color: rgb(17,17,17);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main_part-1 h1{
    font-size: 8.5vw;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 8.5vw;
}
.main_part-1 h1 span svg{
    width: 6.3vw;
    background-color: rgb(13,163,78);
    border-radius: 50%;
}
.main_part-1 p{
    width: 36vw;
    text-align: center;
    margin-top: 4vw;
    font-size: 1.2rem;
    font-weight: 500;
}
.main_h4{ 
    display: flex;
    align-items: center;
}
.main_h4 h4{
    padding: 8px 14px;
    border-radius: 20vw;
    margin: .2vw;
    border: 1px solid #fff;
    margin-top: 1vw;
}
.main_h4 :nth-last-child(2){
    border: none;
    padding: 0 0;
}
nav{
    position: fixed;
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    padding: 2vw 7vw;
    align-items: flex-start;
    text-transform: uppercase;
}
nav h1{
    font-size: 1.7vw;
    font-weight: 800;
}
.nav_part-1{
    display: flex;
    gap: 1.6vw;
    align-items: flex-start;
    padding: 1vh 0;
    position: relative;
    z-index: 10;
}
.nav_part-1 h4{
    font-size: .8rem;
    font-weight: 800;
    letter-spacing: .001rem;
    margin-bottom: 1.9vw;
    /* background-color: red; */
}
.nav_part-1 h5 span{
    font-size: .70rem;
    font-weight: 600;
    /* transform: translateY(25px); */
    display: inline-block;
}
.nav_part-1 h5{
    margin-top: 1vw;
    display: none;
    /* background-color: red; */
    overflow: hidden;
}
nav button{
    display: flex;
    align-items: center;
    padding: 14px 12px;
    font-size: 1vw;
    font-weight: 600;
    justify-content: space-between;
    background-color: rgb(13,163,78);
    border: none;
    border-radius: 3vw;
    letter-spacing: -1px;
}
nav button svg{
    height: 1.1vw;
    margin-left: 2vw;
}
.nav_btm{
    width: 85vw;
    height: 0vh;
    background-color: #111;
    position: absolute;
    top: 100%;
    border-bottom: 1px solid #fff;
    z-index: 9;
}
.part_2{
    width: 100vw;
    height: 100vh;
    background-color: red;
}